body {
  margin: 0;
  font-family: "Lobster", sans-serif;
}

h2 {
  font-size: 40px;
}
h1 {
  font-size: 50px;
}
.name-highlight {
  color: rgb(236, 76, 122);
}
p {
  color: dimgray;
  font-size: 20px;
}
.half-width {
  width: 30%;
  float: left;
  margin-top: 15%;
  margin-left: 5%;
  padding-left: 2%;
}

section {
  height: 800px;
  width: 100%;
  padding-bottom: 100px;
}
.top-banner {
  background-image: url(./images/header-bg.png);
  background-repeat: no-repeat;
}
#profile-details {
  margin-left: 280px;
}
.button-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background-image: linear-gradient(
    45deg,
    rgb(236, 81, 150),
    rgb(236, 75, 116)
  );
}
#profile-pic {
  width: 100%;
  margin-left: 50px;
}
.biography {
  background-image: url(./images/biography-bg.png);
  background-repeat: no-repeat;
}
#bio-pic {
  width: 80%;
  margin-left: 100px;
}
.work-sec {
  background-image: url(./images/latest-work-bg.png);
  background-repeat: no-repeat;
}
.title {
  text-align: center;
}
.my-work {
  width: 100%;
  text-align: center;
}
.work-pic {
  width: 30%;
}
.client-sec {
  background-image: url(./images/footer-bg.png);
  background-repeat: no-repeat;
}
.mail-sec {
  width: 50%;
  height: 200px;
  color: white;
  margin-left: 25%;
  text-align: center;
  border: 1px solid rgb(237, 75, 114);
  border-radius: 10px;
  background-image: linear-gradient(
    45deg,
    rgb(236, 78, 141),
    rgb(237, 75, 114)
  );
  margin-bottom: 150px;
}
.details{
    margin-bottom: 300px;
}
